.footer{
  position: relative;
  top: 100vh;
  height: 5rem;
  margin: 0 auto;
}

.icons{
  position: relative;
  left: 20rem;
}

/* .social{
  background-color: rgb(94, 94, 169);
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.link{
object-fit: cover;
color: white;
border-radius: 50%;
margin: 0 10px;
width: 40px;
height: 40px;
}